.App {
  text-align: center;
  padding: 20px;
}

.radio-buttons {
  margin-top: 20px;
}

.radio-buttons label {
  display: block;
  margin: 5px 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
